<% if(success && success.length) {%>
  <div id="success-alert" class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>
  
  <% if(error && error.length) {%>
  <div id="error-alert" class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>
  
  <script>
      let successAlert = document.querySelector('#success-alert');
      let errorAlert = document.querySelector('#error-alert');
  
      setTimeout(() => {
          if (successAlert) {
              successAlert.style.display = 'none';
          }
          if (errorAlert) {
              errorAlert.style.display = 'none';
          }
      }, 3000);
  </script>
  